/* Google Font */

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600');

/* Global rules */

html,
body {
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}


/* Headers */

h1,
h2 {
    font-weight: 600;
    font-size: 3rem;
}


/* Paragraphs */

p {
    font-size: 1rem;
    margin-bottom: 0;
}

.bg-custom {
    background-color: #982649;
}


/* List Items */

ul li {
    list-style-type: none;
    padding: 0;
}


/* Social Footer (clickable icons) */

a i {
    color: #000;
}

a:hover {
    text-decoration: none;
}

.fab {
    color: #982649;
    -webkit-transition: color 1s;
    -moz-transition: color 1s;
    -ms-transition: color 1s;
    -o-transition: color 1s;
    transition: color 1s;
    padding: 5px 5px;
}

.fab:hover {
    color: #FFF;
}


/* IDs for each section */

.display-2 {
    text-align: center;
}

.display-sub {
    text-align: center;
    color: #777;
}


/* Info */

#info,
#skills,
#footer {
    background-color: #C5C5C5;
    text-align: center;
}

#portfolio-content {
    background-color: #4F6D7A;
    text-align: center;
}

#info {
    padding: 150px 25px;
}

#skills ul li {
    text-align: left;
}


/* Portfolio */

.container-fluid {
    width: 100%;
    padding: 0;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

#portfolio-content div.element {
    max-height: 100%;
    max-width: 100%;
    margin: 10px;
    overflow: hidden;
}

.inner {
    padding: 50px;
    text-align: center;
}

.portfolio-item {
    display: inline-block;
    margin: 0;
}

a .portfolio-item {
    color: #FFF;
    font-weight: 700;
    font-size: 3rem;
    transition: all 0.2s linear;
}

a:hover .portfolio-item {
    color: #982649;
}


/* Social Footer */

.social-footer {
    text-align: center
}

.social-footer li {
    display: inline-block;
    padding: 0 25px;
}


/* Footer */

#footer p,
#footer ul li {
    font-size: 0.8rem;
    text-align: center;
}


/* Media queries */

@media (min-width: 200px) and (max-width: 500px) {
    .display-1 {
        font-size: 2rem;
    }
}

@media (min-width: 500px) and (max-width: 800px) {
    .display-1 {
        font-size: 4rem;
    }
}