body {
  background-color:#1b1e21;
  color:#FFF;
}

#navbar a.navbar-brand {
  font-size: 3em;
  font-family: serif;
}
#navbar a:hover {
  color:#2291d7; 
}

#navbar a:active {
  background-color:#1b1e21;
}

#navbar {
  list-style-type: none;
  min-width:100%;
  margin: 0;
  padding: 0;
  color: #FFF;
}

li {
  display: inline;
}

#navbar a {
  color:#FFF;
  text-decoration: none;
}

footer {
  
}