body {
  background-color:#1b1e21;
  color:#FFF;
  padding-top: 70px;
  padding-bottom: 20px;
}

section {
    padding-top: 70px;
  padding-left: 15px;
  padding-right: 15px;
}

#navbar a.navbar-brand {
  font-size: 3em;
  font-family: serif;
}
#navbar a:hover {
  color:#2291d7; 
}

#navbar a:active {
  background-color:#1b1e21;
}

#navbar {
  list-style-type: none;
  min-width:100%;
  margin: 0;
  padding: 0;
  color: #FFF;
}

li {
  display: inline;
}

#navbar a {
  color:#FFF;
  text-decoration: none;
}

footer {
  text-align: right;
  font-size: 0.9em;
}

.aboutme {
  background-color:#333;
}

.portfolio {
  background-color:#545;
}

.contact {
  background-color:#666;
}

.form-control {
  width: 50%;
}

#contactform {
   padding-left: 35%;
}